.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
.bottom-input{
    background-color: #113f676d;
    width: 80%;
}
.input-icons{
    gap: 20px;
    display: flex;
}