.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
.bottom-input{
    background-color: #113f6741;
    width: 90%;
    height: 40px;
}
.input-icons{
    gap: 20px;
    display: flex;
    padding: 0 5px;
}
.add-icon{
    cursor: pointer;
}